body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19949 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:667px;
}
#u19950 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19952 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:20px;
}
#u19953 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19954 {
  position:absolute;
  left:207px;
  top:96px;
  width:8px;
  height:8px;
}
#u19955 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19956 {
  position:absolute;
  left:217px;
  top:96px;
  width:8px;
  height:8px;
}
#u19957 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19958 {
  position:absolute;
  left:227px;
  top:96px;
  width:8px;
  height:8px;
}
#u19959 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19960 {
  position:absolute;
  left:237px;
  top:96px;
  width:8px;
  height:8px;
}
#u19961 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19962 {
  position:absolute;
  left:247px;
  top:96px;
  width:8px;
  height:8px;
}
#u19963 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u19964 {
  position:absolute;
  left:259px;
  top:93px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u19965 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u19966 {
  position:absolute;
  left:308px;
  top:92px;
  width:10px;
  height:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19967 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19968 {
  position:absolute;
  left:371px;
  top:92px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u19969 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19970 {
  position:absolute;
  left:534px;
  top:93px;
  width:29px;
  height:13px;
  color:#000000;
}
#u19971 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19972 {
  position:absolute;
  left:534px;
  top:95px;
  width:20px;
  height:9px;
}
#u19973 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19974 {
  position:absolute;
  left:563px;
  top:96px;
  width:3px;
  height:7px;
}
#u19975 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u19976 {
  position:absolute;
  left:529px;
  top:99px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19977 {
  position:absolute;
  left:8px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-2px 8.5px;
  -ms-transform-origin:-2px 8.5px;
  -moz-transform-origin:-2px 8.5px;
  -webkit-transform-origin:-2px 8.5px;
}
#u19978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19978 {
  position:absolute;
  left:499px;
  top:95px;
  width:10px;
  height:10px;
}
#u19979 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u19980 {
  position:absolute;
  left:510px;
  top:93px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u19981 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19982 {
  position:absolute;
  left:200px;
  top:152px;
  width:375px;
  height:605px;
  overflow:hidden;
}
#u19982_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19982_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19983 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  overflow:hidden;
  touch-action:none;
}
#u19983_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19983_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19984 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
}
#u19985 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u19986 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  color:#BCBCBC;
}
#u19987 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  word-wrap:break-word;
}
#u19988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19988 {
  position:absolute;
  left:70px;
  top:134px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u19989 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u19990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u19990 {
  position:absolute;
  left:30px;
  top:170px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u19991 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u19992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19992 {
  position:absolute;
  left:121px;
  top:188px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19993 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19994 {
  position:absolute;
  left:58px;
  top:214px;
  width:226px;
  height:22px;
}
#u19995 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u19996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19996 {
  position:absolute;
  left:15px;
  top:110px;
  width:344px;
  height:345px;
}
#u19997 {
  position:absolute;
  left:2px;
  top:164px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19998 {
  position:absolute;
  left:70px;
  top:241px;
  width:200px;
  height:29px;
}
#u19999 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20000 {
  position:absolute;
  left:70px;
  top:291px;
  width:90px;
  height:29px;
}
#u20001 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20002 {
  position:absolute;
  left:170px;
  top:290px;
  width:100px;
  height:30px;
}
#u20003 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20004 {
  position:absolute;
  left:129px;
  top:360px;
  width:117px;
  height:30px;
  color:#FFFFFF;
}
#u20005 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u20006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20006 {
  position:absolute;
  left:80px;
  top:247px;
  width:79px;
  height:16px;
  color:#C9C9C9;
}
#u20007 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20008 {
  position:absolute;
  left:80px;
  top:298px;
  width:40px;
  height:16px;
  color:#C9C9C9;
}
#u20009 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u20010 {
  position:absolute;
  left:285px;
  top:430px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u20011 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20012 {
  position:absolute;
  left:70px;
  top:163px;
  width:41px;
  height:41px;
  color:#BCBCBC;
}
#u20013 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u20014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u20014 {
  position:absolute;
  left:200px;
  top:109px;
  width:375px;
  height:44px;
}
#u20015 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u20016 {
  position:absolute;
  left:369px;
  top:120px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u20017 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20018 {
  position:absolute;
  left:210px;
  top:120px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20019 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u20020 {
  position:absolute;
  left:230px;
  top:122px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u20021 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20022 {
  position:absolute;
  left:530px;
  top:126px;
  width:8px;
  height:8px;
}
#u20023 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20024 {
  position:absolute;
  left:540px;
  top:126px;
  width:8px;
  height:8px;
}
#u20025 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20026 {
  position:absolute;
  left:550px;
  top:126px;
  width:8px;
  height:8px;
}
#u20027 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20028 {
  position:absolute;
  left:1125px;
  top:152px;
  width:375px;
  height:605px;
  overflow:hidden;
  touch-action:none;
}
#u20028_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20028_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20029 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  overflow:hidden;
  touch-action:none;
}
#u20029_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20029_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20030 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
}
#u20031 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u20032 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  color:#BCBCBC;
}
#u20033 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  word-wrap:break-word;
}
#u20034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20034 {
  position:absolute;
  left:70px;
  top:134px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u20035 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u20036 {
  position:absolute;
  left:30px;
  top:170px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u20037 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20038 {
  position:absolute;
  left:121px;
  top:188px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20039 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20040 {
  position:absolute;
  left:58px;
  top:214px;
  width:226px;
  height:22px;
}
#u20041 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u20042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20042 {
  position:absolute;
  left:15px;
  top:110px;
  width:344px;
  height:345px;
}
#u20043 {
  position:absolute;
  left:2px;
  top:164px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20044 {
  position:absolute;
  left:70px;
  top:241px;
  width:200px;
  height:29px;
}
#u20045 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20046 {
  position:absolute;
  left:70px;
  top:291px;
  width:90px;
  height:29px;
}
#u20047 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20048 {
  position:absolute;
  left:170px;
  top:290px;
  width:100px;
  height:30px;
}
#u20049 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20050 {
  position:absolute;
  left:129px;
  top:360px;
  width:117px;
  height:30px;
  color:#FFFFFF;
}
#u20051 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u20052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20052 {
  position:absolute;
  left:80px;
  top:247px;
  width:79px;
  height:16px;
  color:#C9C9C9;
}
#u20053 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20054 {
  position:absolute;
  left:80px;
  top:298px;
  width:40px;
  height:16px;
  color:#C9C9C9;
}
#u20055 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u20056 {
  position:absolute;
  left:285px;
  top:430px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u20057 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20058 {
  position:absolute;
  left:70px;
  top:163px;
  width:41px;
  height:41px;
  color:#BCBCBC;
}
#u20059 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u20060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20060 {
  position:absolute;
  left:40px;
  top:195px;
  width:270px;
  height:135px;
}
#u20061 {
  position:absolute;
  left:2px;
  top:60px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u20062 {
  position:absolute;
  left:92px;
  top:237px;
  width:129px;
  height:51px;
  font-size:15px;
}
#u20063 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u20064 {
  position:absolute;
  left:660px;
  top:152px;
  width:375px;
  height:605px;
  overflow:hidden;
  touch-action:none;
}
#u20064_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20064_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20065 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
}
#u20066 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u20067 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  color:#BCBCBC;
}
#u20068 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  word-wrap:break-word;
}
#u20069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20069 {
  position:absolute;
  left:70px;
  top:134px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u20070 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u20071 {
  position:absolute;
  left:30px;
  top:170px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u20072 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20073 {
  position:absolute;
  left:121px;
  top:188px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20074 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20075 {
  position:absolute;
  left:58px;
  top:214px;
  width:226px;
  height:22px;
}
#u20076 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u20077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20077 {
  position:absolute;
  left:15px;
  top:110px;
  width:344px;
  height:345px;
}
#u20078 {
  position:absolute;
  left:2px;
  top:164px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20079 {
  position:absolute;
  left:70px;
  top:241px;
  width:200px;
  height:29px;
}
#u20080 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20081 {
  position:absolute;
  left:70px;
  top:291px;
  width:90px;
  height:29px;
}
#u20082 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20083 {
  position:absolute;
  left:170px;
  top:290px;
  width:100px;
  height:30px;
}
#u20084 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20085 {
  position:absolute;
  left:129px;
  top:360px;
  width:117px;
  height:30px;
  color:#FFFFFF;
}
#u20086 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u20087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20087 {
  position:absolute;
  left:80px;
  top:247px;
  width:79px;
  height:16px;
  color:#C9C9C9;
}
#u20088 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u20089 {
  position:absolute;
  left:80px;
  top:298px;
  width:40px;
  height:16px;
  color:#C9C9C9;
}
#u20090 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u20091 {
  position:absolute;
  left:285px;
  top:430px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u20092 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20093 {
  position:absolute;
  left:70px;
  top:163px;
  width:41px;
  height:41px;
  color:#BCBCBC;
}
#u20094 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
