body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19847 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:667px;
}
#u19848 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19850 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:20px;
}
#u19851 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19852 {
  position:absolute;
  left:207px;
  top:96px;
  width:8px;
  height:8px;
}
#u19853 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19854 {
  position:absolute;
  left:217px;
  top:96px;
  width:8px;
  height:8px;
}
#u19855 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19856 {
  position:absolute;
  left:227px;
  top:96px;
  width:8px;
  height:8px;
}
#u19857 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19858 {
  position:absolute;
  left:237px;
  top:96px;
  width:8px;
  height:8px;
}
#u19859 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u19860 {
  position:absolute;
  left:247px;
  top:96px;
  width:8px;
  height:8px;
}
#u19861 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u19862 {
  position:absolute;
  left:259px;
  top:93px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u19863 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u19864 {
  position:absolute;
  left:308px;
  top:92px;
  width:10px;
  height:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19865 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19866 {
  position:absolute;
  left:371px;
  top:92px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u19867 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19868 {
  position:absolute;
  left:534px;
  top:93px;
  width:29px;
  height:13px;
  color:#000000;
}
#u19869 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19870 {
  position:absolute;
  left:534px;
  top:95px;
  width:20px;
  height:9px;
}
#u19871 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19872 {
  position:absolute;
  left:563px;
  top:96px;
  width:3px;
  height:7px;
}
#u19873 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u19874 {
  position:absolute;
  left:529px;
  top:99px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19875 {
  position:absolute;
  left:8px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-2px 8.5px;
  -ms-transform-origin:-2px 8.5px;
  -moz-transform-origin:-2px 8.5px;
  -webkit-transform-origin:-2px 8.5px;
}
#u19876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19876 {
  position:absolute;
  left:499px;
  top:95px;
  width:10px;
  height:10px;
}
#u19877 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u19878 {
  position:absolute;
  left:510px;
  top:93px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u19879 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19880 {
  position:absolute;
  left:200px;
  top:174px;
  width:375px;
  height:806px;
  overflow:hidden;
}
#u19880_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:806px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19880_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19881 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
  overflow:hidden;
  touch-action:none;
}
#u19881_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19881_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19882 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
}
#u19883 {
  position:absolute;
  left:2px;
  top:392px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:643px;
}
#u19884 {
  position:absolute;
  left:22px;
  top:17px;
  width:331px;
  height:643px;
}
#u19885 {
  position:absolute;
  left:2px;
  top:314px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u19886 {
  position:absolute;
  left:147px;
  top:48px;
  width:76px;
  height:17px;
  font-size:15px;
}
#u19887 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u19888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
}
#u19888 {
  position:absolute;
  left:77px;
  top:94px;
  width:221px;
  height:221px;
}
#u19889 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u19890 {
  position:absolute;
  left:130px;
  top:760px;
  width:70px;
  height:17px;
  font-size:15px;
}
#u19891 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u19892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u19892 {
  position:absolute;
  left:40px;
  top:332px;
  width:300px;
  height:308px;
  line-height:28px;
}
#u19893 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19894 {
  position:absolute;
  left:22px;
  top:674px;
  width:315px;
  height:71px;
  overflow:hidden;
}
#u19894_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:71px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19894_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:84px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.337254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19895 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:84px;
}
#u19896 {
  position:absolute;
  left:2px;
  top:34px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19897 {
  position:absolute;
  left:24px;
  top:20px;
  width:30px;
  height:30px;
}
#u19898 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19899 {
  position:absolute;
  left:74px;
  top:20px;
  width:30px;
  height:30px;
}
#u19900 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19901 {
  position:absolute;
  left:124px;
  top:20px;
  width:30px;
  height:30px;
}
#u19902 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19903 {
  position:absolute;
  left:184px;
  top:20px;
  width:30px;
  height:30px;
}
#u19904 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19905 {
  position:absolute;
  left:240px;
  top:20px;
  width:30px;
  height:30px;
}
#u19906 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19907 {
  position:absolute;
  left:26px;
  top:50px;
  width:27px;
  height:16px;
}
#u19908 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19909 {
  position:absolute;
  left:82px;
  top:50px;
  width:15px;
  height:16px;
}
#u19910 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u19911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19911 {
  position:absolute;
  left:119px;
  top:50px;
  width:40px;
  height:16px;
}
#u19912 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19913 {
  position:absolute;
  left:186px;
  top:50px;
  width:27px;
  height:16px;
}
#u19914 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19915 {
  position:absolute;
  left:232px;
  top:50px;
  width:47px;
  height:16px;
}
#u19916 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u19917 {
  position:absolute;
  left:200px;
  top:110px;
}
#u19917_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19917_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19919 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u19920 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u19921 {
  position:absolute;
  left:181px;
  top:3px;
  width:29px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u19922 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u19923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19923 {
  position:absolute;
  left:166px;
  top:5px;
  width:10px;
  height:10px;
}
#u19924 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19925 {
  position:absolute;
  left:200px;
  top:130px;
  width:375px;
  height:44px;
}
#u19926 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19927 {
  position:absolute;
  left:351px;
  top:141px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u19928 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19929 {
  position:absolute;
  left:200px;
  top:174px;
  width:375px;
  height:44px;
  overflow:hidden;
  visibility:hidden;
}
#u19929_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19929_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u19931 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  color:#CCCCCC;
}
#u19932 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u19933 {
  position:absolute;
  left:298px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u19934 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u19935 {
  position:absolute;
  left:48px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u19936 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19937 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19938 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u19939 {
  position:absolute;
  left:173px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u19940 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19941 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19942 {
  position:absolute;
  left:540px;
  top:140px;
  width:20px;
  height:20px;
}
#u19943 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19944 {
  position:absolute;
  left:525px;
  top:130px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19945 {
  position:absolute;
  left:210px;
  top:141px;
  width:20px;
  height:20px;
}
#u19946 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19947 {
  position:absolute;
  left:495px;
  top:140px;
  width:20px;
  height:20px;
}
#u19948 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
