body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21662 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:667px;
}
#u21663 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21665 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:20px;
}
#u21666 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21667 {
  position:absolute;
  left:207px;
  top:96px;
  width:8px;
  height:8px;
}
#u21668 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21669 {
  position:absolute;
  left:217px;
  top:96px;
  width:8px;
  height:8px;
}
#u21670 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21671 {
  position:absolute;
  left:227px;
  top:96px;
  width:8px;
  height:8px;
}
#u21672 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21673 {
  position:absolute;
  left:237px;
  top:96px;
  width:8px;
  height:8px;
}
#u21674 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u21675 {
  position:absolute;
  left:247px;
  top:96px;
  width:8px;
  height:8px;
}
#u21676 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u21677 {
  position:absolute;
  left:259px;
  top:93px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u21678 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u21679 {
  position:absolute;
  left:308px;
  top:92px;
  width:10px;
  height:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21680 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21681 {
  position:absolute;
  left:371px;
  top:92px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u21682 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u21683 {
  position:absolute;
  left:534px;
  top:93px;
  width:29px;
  height:13px;
  color:#000000;
}
#u21684 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21685 {
  position:absolute;
  left:534px;
  top:95px;
  width:20px;
  height:9px;
}
#u21686 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21687 {
  position:absolute;
  left:563px;
  top:96px;
  width:3px;
  height:7px;
}
#u21688 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u21689 {
  position:absolute;
  left:529px;
  top:99px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21690 {
  position:absolute;
  left:8px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-2px 8.5px;
  -ms-transform-origin:-2px 8.5px;
  -moz-transform-origin:-2px 8.5px;
  -webkit-transform-origin:-2px 8.5px;
}
#u21691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21691 {
  position:absolute;
  left:499px;
  top:95px;
  width:10px;
  height:10px;
}
#u21692 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u21693 {
  position:absolute;
  left:510px;
  top:93px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u21694 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21695 {
  position:absolute;
  left:200px;
  top:174px;
  width:375px;
  height:582px;
  overflow:hidden;
}
#u21695_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:582px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21695_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21696 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1150px;
  overflow:hidden;
  touch-action:none;
}
#u21696_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21696_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21697 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1150px;
}
#u21698 {
  position:absolute;
  left:2px;
  top:567px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u21699 {
  position:absolute;
  left:24px;
  top:30px;
  width:116px;
  height:60px;
  color:#BCBCBC;
}
#u21700 {
  position:absolute;
  left:2px;
  top:22px;
  width:112px;
  word-wrap:break-word;
}
#u21701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u21701 {
  position:absolute;
  left:174px;
  top:31px;
  width:106px;
  height:17px;
  font-size:15px;
}
#u21702 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u21703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u21703 {
  position:absolute;
  left:174px;
  top:53px;
  width:52px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u21704 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u21705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u21705 {
  position:absolute;
  left:24px;
  top:123px;
  width:116px;
  height:60px;
  color:#BCBCBC;
}
#u21706 {
  position:absolute;
  left:2px;
  top:22px;
  width:112px;
  word-wrap:break-word;
}
#u21707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u21707 {
  position:absolute;
  left:174px;
  top:124px;
  width:106px;
  height:17px;
  font-size:15px;
}
#u21708 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u21709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u21709 {
  position:absolute;
  left:174px;
  top:146px;
  width:52px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u21710 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u21711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u21711 {
  position:absolute;
  left:25px;
  top:108px;
  width:326px;
  height:1px;
}
#u21712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u21713 {
  position:absolute;
  left:25px;
  top:198px;
  width:326px;
  height:1px;
}
#u21714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u21715 {
  position:absolute;
  left:174px;
  top:74px;
  width:91px;
  height:16px;
  color:#FF0000;
}
#u21716 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u21717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u21717 {
  position:absolute;
  left:174px;
  top:167px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u21718 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  visibility:hidden;
  white-space:nowrap;
}
#u21719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21719 {
  position:absolute;
  left:282px;
  top:74px;
  width:51px;
  height:16px;
}
#u21720 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21721 {
  position:absolute;
  left:282px;
  top:167px;
  width:51px;
  height:16px;
}
#u21722 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u21723 {
  position:absolute;
  left:174px;
  top:167px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u21724 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21725 {
  position:absolute;
  left:200px;
  top:110px;
}
#u21725_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21725_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21727 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u21728 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u21729 {
  position:absolute;
  left:181px;
  top:3px;
  width:29px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u21730 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u21731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21731 {
  position:absolute;
  left:166px;
  top:5px;
  width:10px;
  height:10px;
}
#u21732 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21733 {
  position:absolute;
  left:200px;
  top:130px;
  width:375px;
  height:44px;
}
#u21734 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u21735 {
  position:absolute;
  left:297px;
  top:142px;
  width:181px;
  height:22px;
  font-size:18px;
}
#u21736 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u21737 {
  position:absolute;
  left:200px;
  top:174px;
  width:375px;
  height:44px;
  overflow:hidden;
  visibility:hidden;
}
#u21737_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21737_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u21739 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  color:#CCCCCC;
}
#u21740 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u21741 {
  position:absolute;
  left:298px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u21742 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u21743 {
  position:absolute;
  left:48px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u21744 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21745 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21746 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u21747 {
  position:absolute;
  left:173px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u21748 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21749 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21750 {
  position:absolute;
  left:540px;
  top:140px;
  width:20px;
  height:20px;
}
#u21751 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21752 {
  position:absolute;
  left:525px;
  top:130px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21753 {
  position:absolute;
  left:210px;
  top:141px;
  width:20px;
  height:20px;
}
#u21754 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21755 {
  position:absolute;
  left:495px;
  top:140px;
  width:20px;
  height:20px;
}
#u21756 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
