body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20095 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:667px;
}
#u20096 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20098 {
  position:absolute;
  left:200px;
  top:90px;
  width:375px;
  height:20px;
}
#u20099 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20100 {
  position:absolute;
  left:207px;
  top:96px;
  width:8px;
  height:8px;
}
#u20101 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20102 {
  position:absolute;
  left:217px;
  top:96px;
  width:8px;
  height:8px;
}
#u20103 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20104 {
  position:absolute;
  left:227px;
  top:96px;
  width:8px;
  height:8px;
}
#u20105 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20106 {
  position:absolute;
  left:237px;
  top:96px;
  width:8px;
  height:8px;
}
#u20107 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u20108 {
  position:absolute;
  left:247px;
  top:96px;
  width:8px;
  height:8px;
}
#u20109 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u20110 {
  position:absolute;
  left:259px;
  top:93px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u20111 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u20112 {
  position:absolute;
  left:308px;
  top:92px;
  width:10px;
  height:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20113 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20114 {
  position:absolute;
  left:371px;
  top:92px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u20115 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u20116 {
  position:absolute;
  left:534px;
  top:93px;
  width:29px;
  height:13px;
  color:#000000;
}
#u20117 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20118 {
  position:absolute;
  left:534px;
  top:95px;
  width:20px;
  height:9px;
}
#u20119 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20120 {
  position:absolute;
  left:563px;
  top:96px;
  width:3px;
  height:7px;
}
#u20121 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u20122 {
  position:absolute;
  left:529px;
  top:99px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u20123 {
  position:absolute;
  left:8px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-2px 8.5px;
  -ms-transform-origin:-2px 8.5px;
  -moz-transform-origin:-2px 8.5px;
  -webkit-transform-origin:-2px 8.5px;
}
#u20124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20124 {
  position:absolute;
  left:499px;
  top:95px;
  width:10px;
  height:10px;
}
#u20125 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u20126 {
  position:absolute;
  left:510px;
  top:93px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u20127 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20128 {
  position:absolute;
  left:200px;
  top:174px;
  width:375px;
  height:582px;
  overflow:hidden;
}
#u20128_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:582px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20128_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20129 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  overflow:hidden;
  touch-action:none;
}
#u20129_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20129_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20130 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
}
#u20131 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u20132 {
  position:absolute;
  left:30px;
  top:70px;
  width:345px;
  height:1px;
}
#u20133 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u20134 {
  position:absolute;
  left:30px;
  top:13px;
  width:50px;
  height:50px;
  font-size:15px;
  color:#BCBCBC;
}
#u20135 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u20136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20136 {
  position:absolute;
  left:91px;
  top:18px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20137 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u20138 {
  position:absolute;
  left:91px;
  top:45px;
  width:243px;
  height:16px;
  color:#BCBCBC;
}
#u20139 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u20140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u20140 {
  position:absolute;
  left:30px;
  top:142px;
  width:345px;
  height:1px;
}
#u20141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u20142 {
  position:absolute;
  left:30px;
  top:85px;
  width:50px;
  height:50px;
  font-size:15px;
  color:#BCBCBC;
}
#u20143 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u20144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20144 {
  position:absolute;
  left:91px;
  top:90px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20145 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u20146 {
  position:absolute;
  left:91px;
  top:117px;
  width:61px;
  height:16px;
  color:#BCBCBC;
}
#u20147 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20148 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20149 {
  position:absolute;
  left:0px;
  top:81px;
  width:375px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20150 {
  position:absolute;
  left:200px;
  top:110px;
}
#u20150_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20150_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20152 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u20153 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u20154 {
  position:absolute;
  left:181px;
  top:3px;
  width:29px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u20155 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u20156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20156 {
  position:absolute;
  left:166px;
  top:5px;
  width:10px;
  height:10px;
}
#u20157 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20158 {
  position:absolute;
  left:200px;
  top:130px;
  width:375px;
  height:44px;
}
#u20159 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20160 {
  position:absolute;
  left:351px;
  top:140px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u20161 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20162 {
  position:absolute;
  left:200px;
  top:174px;
  width:375px;
  height:44px;
  overflow:hidden;
  visibility:hidden;
}
#u20162_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20162_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u20164 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  color:#CCCCCC;
}
#u20165 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u20166 {
  position:absolute;
  left:298px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u20167 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u20168 {
  position:absolute;
  left:48px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u20169 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20170 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20171 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u20172 {
  position:absolute;
  left:173px;
  top:14px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u20173 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20174 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20175 {
  position:absolute;
  left:540px;
  top:140px;
  width:20px;
  height:20px;
}
#u20176 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20177 {
  position:absolute;
  left:525px;
  top:130px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20178 {
  position:absolute;
  left:700px;
  top:90px;
  width:375px;
  height:580px;
  overflow:hidden;
}
#u20178_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20178_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20179 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
}
#u20180 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u20181 {
  position:absolute;
  left:30px;
  top:70px;
  width:345px;
  height:1px;
}
#u20182 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u20183 {
  position:absolute;
  left:30px;
  top:13px;
  width:50px;
  height:50px;
  font-size:15px;
  color:#BCBCBC;
}
#u20184 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u20185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20185 {
  position:absolute;
  left:91px;
  top:18px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20186 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u20187 {
  position:absolute;
  left:91px;
  top:45px;
  width:243px;
  height:16px;
  color:#BCBCBC;
}
#u20188 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u20189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u20189 {
  position:absolute;
  left:30px;
  top:142px;
  width:345px;
  height:1px;
}
#u20190 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u20191 {
  position:absolute;
  left:30px;
  top:85px;
  width:50px;
  height:50px;
  font-size:15px;
  color:#BCBCBC;
}
#u20192 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u20193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20193 {
  position:absolute;
  left:91px;
  top:90px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20194 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u20195 {
  position:absolute;
  left:91px;
  top:117px;
  width:61px;
  height:16px;
  color:#BCBCBC;
}
#u20196 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20197 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20198 {
  position:absolute;
  left:0px;
  top:81px;
  width:375px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20199 {
  position:absolute;
  left:210px;
  top:141px;
  width:20px;
  height:20px;
}
#u20200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20201 {
  position:absolute;
  left:495px;
  top:140px;
  width:20px;
  height:20px;
}
#u20202 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
